<%- include header %>
<% articles.forEach(function (article, index) { %>
    <p>
        <h2><a href="/u/<%=article.userName%>/<%=article.time.day %>/<%= article.title %>"><%=article.title%></a></h2>
        <a href="/u/<%= article.userName %>">
            <img src="<%= article.head %>" class="r_head" alt="" />
        </a>
    </p>
    <p class="info">
        作者：<a href="/u/<%= article.userName %>"><%=article.userName%></a> |
        日期：<%=article.time.minute%> |
        标签：
        <%article.tags.forEach(function (tag, index) { %>
            <% if (tag) { %>
                <a href="/tags/<%= tag%>" class="tag"><%=tag%></a>
            <% } %>
        <% }) %>
    </p>
    <% if (article.reprint_info.reprint_from) { %>
        <br><a href="/u/<%= article.reprint_info.reprint_from.userName %>/<%= article.reprint_info.reprint_from.day %>/<%= article.reprint_info.reprint_from.title %>">原文链接</a>
    <% } %>

    <p><%- article.content%></p>
    <p class="info">阅读：<%= article.pv %> | 评论：<%= article.comments.length %> |
        转载：
        <% if (article.reprint_info.reprint_to) { %>
            <%= article.reprint_info.reprint_to.length %>
        <% } else { %>
            <%= 0 %>
        <% } %>
    </p>
<%})%>
<%- include paging%>
<%- include footer %>
